statusbarpanel#surfkeys-status-icon[status="enabled"] {
  list-style-image: url("chrome://surfkeys/skin/surfkeys_enabled_1.png");
}

statusbarpanel#surfkeys-status-icon[status="disabled"] {
  list-style-image: url("chrome://surfkeys/skin/surfkeys_disabled_1.png");
}

statusbarpanel#surfkeys-status-icon[status="active"] {
  list-style-image: url("chrome://surfkeys/skin/surfkeys_active_1.png");
}

statusbarpanel#surfkeys-status-icon[status="wait"] {
  list-style-image: url("chrome://surfkeys/skin/surfkeys_wait.png");
}

statusbarpanel#surfkeys-status[status="active"] {
}

statusbarpanel#surfkeys-status[status="inactive"] {
}

span.hint {
  z-index:500;
  font-weight:normal;
  font-size:small;
 color:ButtonText;
  background-color:ButtonFace;
 position:absolute;
  font-family:sans-serif;
  border-color:ButtonHighlight;
  border-width:1px;
  border-style:solid;
  text-align:center;
  -moz-border-radius:0.5em;
  -moz-opacity:0.8;
}
