treechildren::-moz-tree-checkbox {
	list-style-image: url(chrome://surfkeys/skin/checkbox.png);
	-moz-image-region: rect(13px 13px 26px 0px);
}
treechildren::-moz-tree-checkbox(checked) {
	-moz-image-region: rect(0px 13px 13px 0px);
}
